/* === Variables par défaut (thème clair) === */
:root {
  --bg-color: var(--gray-200);
  --text-color: #1F2A44;
  --style-element: var(--gray-400);
  --footer-top-bg: #3a6ea5;
  --box-bg:#F7F9FC
}

/* === Thème sombre (quand la classe est ajoutée) === */
.dark-theme {
  --bg-color: #121417;
  --text-color: #E0E0E0;
  --style-element: #1E2125;
  --footer-top-bg: #4a6fa8;
  --box-bg: #1E2125;
}
/* === Application des styles === */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}