/* Inter Variable - Normal */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Inter Variable - Italic */
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/Inter-Italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}



/* Roboto Variable - Normal */
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Roboto Variable - Italic */
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/Roboto-Italic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Open Sans Variable - Normal */
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans/OpenSans-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Open Sans - Italic */
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans/OpenSans-Italic-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Overpas Variable - Norma */
@font-face {
  font-family: 'Overpass';
  src: url('../../fonts/OpenSans/OpenSans-VariableFont_wdth,wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* Overpass Variable - Italic */
@font-face {
  font-family: 'Overpass';
  src: url('../../fonts/Overpass/Overpass-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}