.filters-toolbar {
    background-color: var(--box-bg);
    color: var(--text-color);
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: space-between; /* Année à gauche, Spe à droite */
    align-items: center;
    margin-top: -25px;
    margin-bottom: 25px;
    padding: 0 15px;
    font-weight: 200;
}

.year-group,
.specialisation-group {
    display: flex;
    gap: 10px;
}

.year-group,
.specialisation-group li{
    padding: 15px;
    text-decoration: none;
    color: inherit;
}

.cours {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.matiere {
    margin-top: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px; /* Espacement sous le titre */
}

.card-cours {
    width: 200px;
    padding: 1.5rem;
    border: solid 1px var(--style-element);
    text-align: center;
    flex-shrink: 0;
}

/* .cours article:not(.active) {
    display: none;
}

.matiere:not(.active) {
    display: none;
} */