.filters-toolbar {
    background-color: var(--box-bg);
    color: var(--text-color);
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: space-between; /* Année à gauche, Spe à droite */
    align-items: center;
    margin-top: -25px;
    margin-bottom: 25px;
    padding: 0 15px;
    font-weight: 200;
}

.year-group,
.specialisation-group {
    display: flex;
    gap: 10px;
}

.year-group,
.specialisation-group li{
    padding: 15px;
    text-decoration: none;
    color: inherit;
}
