* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url('../img/hero_bg.jpg');
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
    height: 15rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}