.main-header {
    position: sticky;
    top: 0;
    /* background: #ffffff; */
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    padding: 10px 20px;
    margin-bottom: 25px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-style: normal;
}

.header-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    z-index: 1000;
    padding: 0 20px;
}

.logo img {
    height: 60px;
}

.nav-menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.nav-menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-dark);
    text-decoration: none;
    position: relative;
    font-weight: 500;
    padding: 8px 12px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav-menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
}

.nav-menu ul li a:hover::after {
    width: 100%;
    transition: width 0.3s ease;
}

.nav-menu ul li a:hover {
    color: var(--primary-color);
    transition: color 0.3s ease;
}

.nav-menu ul li a.active::after,
.nav-menu ul li a.active:hover::after {
  width: 100%;
}

.nav-menu ul li a.active,
.nav-menu ul li a.active:hover {
  color: var(--primary-color);
}